# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb
*.ipdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Other
*.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.lastbuildstate
*.recipe
*.log
*.ilk
*.idb
*.bat
build